web-1.0/node_modules
web-1.0/dist
web-1.0/.idea
web-2.0/node_modules
web-2.0/dist
.idea/
.env
#deprecated
client-api/

#
api-1.0/cache/
api-1.0/config/server_config.json
#
api-2.0/data
api-2.0/config/server_config.json
